<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Status</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

        :root {
            --dark: #2b2d42;
            --light: #adb5bd;
            --border: #dee2e6;
            --border-btn: #edf2f4;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            font-family: 'PT Sans', sans-serif;
        }

        .container {
            max-width: 1024px;
            margin: auto;
        }

        .nav-brand {
            font-size: 1.5em;
            font-weight: bold;
        }

        .d-flex {
            display: flex;
            flex-wrap: wrap;
        }

        .justify-between {
            justify-content: space-between;
        }

        .text-center {
            text-align: center;
        }

        .border-shadow {
            border: 1px solid var(--border-btn);
            box-shadow: 1px 3px 10px #e9ecef;
        }

        .text-dark {
            color: var(--dark);
        }

        .inline {
            display: inline-block;
        }

        .text-light {
            color: var(--light);
        }

        .text-gradient {

            -webkit-background-clip: text;
            background-clip: text;
            background-color: #2b2d42;

            -webkit-text-fill-color: transparent;
        }

        .text-gradient:hover {
            background-color: #f98b04;
        }

        #header nav {
            background-color: #06d6a0;
            padding: 1em 0;
            width: 100%;
        }

        #site-main {
            margin-top: 6em;
            font-family: 'Barlow', sans-serif;
        }

        #site-main .container .box-nav>a {
            font-size: 1em;
            padding: .5em 1em;
        }

        #site-main .container form {
            margin: 2em 0;
        }


        .form-title {
            margin-top: 2em;
        }

        .form-title>h2 {
            padding: .5em 0;
        }

        .new_user {
            max-width: 786px;
            margin: auto;
        }

        #update_user .form-group,
        #add_user .form-group {
            margin: .4em 0;
        }

        #update_user .form-group input[type="text"],
        #add_user .form-group input[type="text"] {
            width: 100%;
            padding: .6em 1em;
            margin: .5em 0;
            border: 1px solid var(--border);
            font-family: 'Barlow', sans-serif;
            font-size: 1em;
            border-radius: .2em;
        }

        #update_user .form-group .radio,
        #add_user .form-group .radio {
            margin: 1em 2em;
        }

        .radio input[type='radio'] {
            position: absolute;
            opacity: 0;
        }

        .radio input[type='radio']+.radio-label:before {
            content: "";
            background: var(--border-btn);
            border-radius: 100%;
            border: 1px solid var(--border);
            display: inline-block;
            width: 1em;
            height: 1em;
            position: relative;
            top: -0em;
            margin-right: .5em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            -webkit-transition: all 250ms ease;
            transition: all 250ms ease;
        }

        .radio input[type='radio']:checked+.radio-label:before {
            background-color: #f98b04;
            box-shadow: inset 0 0 0 4px #e9ecef;
        }

        .radio input[type='radio']:focus+.radio-label:before {
            outline: none;
            border-color: #f98b04;
        }

        .radio input[type='radio']:disabled+.radio-label:before {
            box-shadow: inset 0 0 0 4px #e9ecef;
            border-color: #b4b4b4;
            background: #b4b4b4;
        }

        #update_user .form-group .btn,
        #add_user .form-group .btn {
            width: 100%;
            padding: .9em 1em;
            background-color: #f98b04;
            border: none;
            font-family: 'PT Sans', sans-serif;
            font-size: 1em;
            cursor: pointer;
            border-radius: .2em;
            margin: .5em 0;
        }

        #update_user .form-group .btn:hover,
        #add_user .form-group .btn:hover {
            background-color: var(--dark);
            color: var(--border);
        }
    </style>
</head>


<body>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/admin/home/room" class="border-shadow">
                    <span class="text-gradient">Room List <i class="fas fa-user"></i></span>
                </a>
                <a href="/admin/home" class="border-shadow">
                    <span class="text-gradient">Home <i class="fas fa-user"></i></span>
                </a>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Room Status</h2>
                <span class="text-light">Use the below form to Update the room status</span>
            </div>

            <form action="" method="post" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Room No.</label>
                        <input type="hidden" name="id" value="<%= room._id %>">
                        <input type="text" name="room_no" value="<%= room.room_no %>" >
                    </div>
                    <div class="form-group">
                        <label for="room_type" class="text-light">Room Type</label>
                        <input type="text" name="room_type" value="<%= room.room_type %>" >
                    </div>
                    <div class="form-group">
                        <label for="status" class="text-light">Room Status</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-1" name="status" value="Vacant" <% if(room.status == "Vacant"){ %> checked <%} %> >
                            <label for="radio-1" class="radio-label">Vacant</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="status" value="Occupied" <% if(room.status == "Occupied"){ %> checked <%} %> >
                            <label for="radio-2" class="radio-label">Occupied</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="room_status" class="text-light">House Keeping</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="room_status" value="Clean" <% if(room.room_status == "Clean"){ %> checked <%} %> >
                            <label for="radio-3" class="radio-label">Clean</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-4" name="room_status" value="Dirty" <% if(room.room_status == "Dirty"){ %> checked <%} %> >
                            <label for="radio-4" class="radio-label">Dirty</label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button type="Submit" class="btn text-dark update">Update</button>
                    </div>

                </div>
            </form>

        </div>
    </main>
</body>

</html>