<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Details</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h1 {
            margin-top: 100px;
        }

        body {
            font-family: "Poppins", sans-serif;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            perspective: 1000px;
        }

        .container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            transform-style: preserve-3d;
            min-height: 80vh;
            width: 25rem;
            border-radius: 30px;
            padding: 0rem 3rem;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
        }



        .info h1 {
            font-size: 3rem;
            transition: all 0.75s ease-out;
            margin-bottom: 30px;
        }




        body,
        input {
            font-family: "Poppins", sans-serif;
        }




        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0rem 5rem;
            transition: all 0.2s 0.7s;
            overflow: hidden;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        form.sign-up-form {
            opacity: 0;
            z-index: 1;

        }

        form.sign-in-form {
            z-index: 2;
        }

        .title {
            font-size: 2.2rem;
            color: #444;
            margin-bottom: 10px;
        }



        .signup_link {
            padding-top: 100px;
            margin-top: 100px;
            margin: 30px 0;
            text-align: center;
            font-size: 16px;
            color: black;
        }

        .signup_link a {
            color: #2691d9;
            text-decoration: none;
        }

        .signup_link a:hover {
            text-decoration: underline;
        }

        span:hover {
            color: #d91d1dfb;
            cursor: pointer;
            font-size: 25px;
        }
        span1{
            color: rgb(17, 242, 1);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="info">
                <h1 class="title">Booking Details</h1><br>
                <p><span1>Your Booking Has Been Done,Our Team Will Contact You For Confirmation</span1></p><br><br>
                <p>Check In Date: <span>
                        <%- user.check_in %>
                    </span>
                </p>
                <p>Check Out Date: <span>
                        <%- user.check_out %>
                    </span>
                </p>
                <p>Room Category: <span>
                        <%- user.room_type %>
                    </span>
                </p>


                <div class="signup_link">
                    Want To Edit! <a href="/home">Edit</a><br>
                    Done! <a href="/logout">Logout</a>
                </div>

            </div>
        </div>
        <script>

            const card = document.querySelector(".card");
            const container = document.querySelector(".container");
            const title = document.querySelector(".title");


            container.addEventListener("mousemove", (e) => {
                let xAxis = (window.innerWidth / 2 - e.pageX) / 25;
                let yAxis = (window.innerHeight / 2 - e.pageY) / 25;
                card.style.transform = `rotateY(${xAxis}deg) rotateX(${yAxis}deg)`;
            });

            container.addEventListener("mouseenter", (e) => {
                card.style.transition = "none";
                title.style.transform = "translateZ(150px)";
            });

            container.addEventListener("mouseleave", (e) => {
                card.style.transition = "all 0.5s ease";
                card.style.transform = `rotateY(0deg) rotateX(0deg)`;
                title.style.transform = "translateZ(0px)";
            });
        </script>
</body>

</html>