<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h1 {
            margin-top: 100px;
        }

        body {
            font-family: "Poppins", sans-serif;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            perspective: 1000px;
        }

        .container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            transform-style: preserve-3d;
            min-height: 80vh;
            width: 25rem;
            border-radius: 30px;
            padding: 0rem 3rem;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
        }



        .info h1 {
            font-size: 3rem;
            transition: all 0.75s ease-out;
            margin-bottom: 30px;
        }




        body,
        input {
            font-family: "Poppins", sans-serif;
        }



        .forms-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .signin-signup {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 75%;
            width: 50%;
            transition: 1s 0.7s ease-in-out;
            display: grid;
            grid-template-columns: 1fr;
            z-index: 5;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0rem 5rem;
            transition: all 0.2s 0.7s;
            overflow: hidden;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        form.sign-up-form {
            opacity: 0;
            z-index: 1;

        }

        form.sign-in-form {
            z-index: 2;
        }

        .title {
            font-size: 2.2rem;
            color: #444;
            margin-bottom: 10px;
        }

        .input-field {
            max-width: 300px;
            width: 300%;
            background-color: #f0f0f0;
            margin: 10px 0;
            height: 55px;
            border-radius: 55px;
            display: grid;
            grid-template-columns: 15% 85%;
            padding: 0 0.4rem;
            position: relative;
        }

        .input-field i {
            text-align: center;
            line-height: 55px;
            color: #acacac;
            transition: 0.5s;
            font-size: 1.1rem;
        }

        .input-field input {
            background: none;
            outline: none;
            border: none;
            line-height: 1;
            font-weight: 600;
            font-size: 1.1rem;
            color: #333;
        }

        .input-field input::placeholder {
            color: rgb(170, 170, 170);
            font-weight: 500;
        }

        .btn {
            width: 150px;
            background-color: #d91d1dfb;
            border: none;
            outline: none;
            height: 49px;
            border-radius: 49px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            margin: 10px 0;
            cursor: pointer;
            transition: 0.5s;
            margin-bottom: 60px;
        }

        .date {
            background-color: #fff;
            border: none;
            outline: none;
            color: #d91d1dfb;
            cursor: pointer;
            border-radius: 10px;
            margin: 5px 0;
            font-weight: 600;
        }

        .radio {
            cursor: pointer;
        }

        .signup_link {
            margin-top: 100px;
            margin: 30px 0;
            text-align: center;
            font-size: 16px;
            color: #666666;
        }

        .signup_link a {
            color: #2691d9;
            text-decoration: none;
        }

        .signup_link a:hover {
            text-decoration: underline;
        }

        .ri-calendar-check-line {
            color: #2691d9;
        }

        .ri-calendar-check-fill {
            color: #2691d9;
        }

        .ri-hotel-line {
            color: #2691d9;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="info">
                <h1 class="title">Welcome <%- user.name %>
                </h1>
                <form action="" method="post">
                    <input type="hidden" name="user_id" value="<%- user.id %>">
                    <p>Check In <i class="ri-calendar-check-line "></i></p>

                    <input type="date" class="date" name="check_in" min="2050-01-01"
                        onfocus="this.min=new Date().toISOString().split('T')[0]" required />

                    <p>Check Out <i class="ri-calendar-check-line"></i></p>
                    <input type="date" class="date" name="check_out" min="2050-01-01"
                        onfocus="this.min=new Date().toISOString().split('T')[0]"/>
                    <br>
                    <p>Room Category<i class="ri-hotel-line"></i></p>
                    <menu>
                        <br><label>
                            <input type="radio" name="room_type" value="Single Room" checked> Single Room <i
                                class="ri-home-7-line"></i><br></label>
                        <label>
                            <input type="radio" name="room_type" value="Double Room"> Double Room <i
                                class="ri-home-gear-line"></i><br></label>
                    </menu>
                    <br /><br />
                    <input type="Submit" class="btn" value="Submit" />
                </form>
                <div class="signup_link">
                    Show Booking Details <a href="/booking">Details</a><br>
                </div>


            </div>
        </div>
        <script>

            const card = document.querySelector(".card");
            const container = document.querySelector(".container");
            //Items
            const title = document.querySelector(".title");


            container.addEventListener("mousemove", (e) => {
                let xAxis = (window.innerWidth / 2 - e.pageX) / 25;
                let yAxis = (window.innerHeight / 2 - e.pageY) / 25;
                card.style.transform = `rotateY(${xAxis}deg) rotateX(${yAxis}deg)`;
            });

            container.addEventListener("mouseenter", (e) => {
                card.style.transition = "none";

                title.style.transform = "translateZ(150px)";
            });

            container.addEventListener("mouseleave", (e) => {
                card.style.transition = "all 0.5s ease";
                card.style.transform = `rotateY(0deg) rotateX(0deg)`;

                title.style.transform = "translateZ(0px)";
            });
        </script>
</body>

</html>